.TabNav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $wall-color;

  .link {
    display: flex;
    flex: 1 1 auto;
    padding: 5px 24px 0;
    text-align: center;
    line-height: 74px;
    border: 0;
    border-right: 1px solid $border-color-base;
    border-top: 1px solid $border-color-base;
    background: $wall-color;

    &.router-link-active{
      background: $diagonal-gradient-bg-blue;
      border-top-color: $brand-blue-600;
      border-right-color: $brand-blue-600;
      .fi::before{
        color: $color-white;
      }
    }

    .fi{
      width: 100%;
    }
    .fi::before {
      color: $text-color;
      font-size: 24px;
    }
  }

  .button{
    outline: 0;
    cursor: pointer;

    .fi::before{
      color: $color-white;
    }
    &.is-red{
      background: $diagonal-gradient-bg-red;
      border-top-color: $red-500;
      border-right-color: $red-500;
    }
    &.is-grey{
      background: $diagonal-gradient-bg-grey;
      border-right: 0;
      .fi::before {
        color: $color-white;
      }
    }
    &.is-allowed {
      background: $diagonal-gradient-bg-green-dark;
      //background: $diagonal-gradient-bg-black;
      //border-top: 1px solid $black-500;
      border-top: 1px solid $green-900;
    }
  }
}
