.TabNav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .link {
    display: flex;
    flex: 1 1 auto;
    padding: 5px 24px 0;
    text-align: center;
    line-height: 75px;
    border: 0;
    border-right: 1px solid $border-color-base;
    border-top: 1px solid $border-color-base;
    background: $wall-color;

    &:last-child{
      background: $diagonal-gradient-bg-grey;
      // background: $diagonal-gradient-bg-black;
      // border-top: 1px solid $black-500;
      border-right: 0;
      .fi::before{
        color: $color-white;
      }
    }

    &.router-link-active{
      background: $diagonal-gradient-bg-blue;
      // background-color: $bg-color-base;
      border-top-color: transparent;
      .fi::before{
        color: $color-white;
      }
    }

    .fi{
      width: 100%;
    }
    .fi::before {
      color: $text-color;
      font-size: 24px;
    }
  }

  .button{
    outline: 0;
    background: $diagonal-gradient-bg-red;
    .fi::before{
      color: $color-white;
    }
  }
}

