
@font-face {
  font-family: "Flaticon";
  src: url($static-folder-path + "fonts/iconfont/Flaticon.eot");
  src: url($static-folder-path + "fonts/iconfont/Flaticon.eot?#iefix") format("embedded-opentype"),
  url($static-folder-path + "fonts/iconfont/Flaticon.woff") format("woff"),
  url($static-folder-path + "fonts/iconfont/Flaticon.ttf") format("truetype"),
  url($static-folder-path + "fonts/iconfont/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url($static-folder-path + "fonts/iconfont/Flaticon.svg#Flaticon") format("svg");

  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-money:before {
  content: "\f100";
}

.flaticon-right-arrow:before {
  content: "\f101";
}

.flaticon-tick:before {
  content: "\f102";
}

.flaticon-minus:before {
  content: "\f103";
}

.flaticon-plus:before {
  content: "\f104";
}

.flaticon-logout:before {
  content: "\f105";
}

.flaticon-cooker:before {
  content: "\f106";
}

.flaticon-interface-1:before {
  content: "\f107";
}

.flaticon-interface:before {
  content: "\f108";
}

$font-Flaticon-money: "\f100";
$font-Flaticon-right-arrow: "\f101";
$font-Flaticon-tick: "\f102";
$font-Flaticon-minus: "\f103";
$font-Flaticon-plus: "\f104";
$font-Flaticon-logout: "\f105";
$font-Flaticon-cooker: "\f106";
$font-Flaticon-interface-1: "\f107";
$font-Flaticon-interface: "\f108";
