@import "~at-ui-style/src/variables/index.scss";

$static-folder-path: "./../static/";
$diagonal-gradient-bg-black: linear-gradient(135deg, $black-300 0%, $black-500 100%);
$diagonal-gradient-bg-blue: linear-gradient(135deg, $brand-blue-300 0%, $brand-blue-800 100%);
$diagonal-gradient-bg-blue-dark: linear-gradient(135deg, $brand-blue-400 0%, $brand-blue-900 100%);






