@import "~at-ui-style/src/variables/index.scss";

$static-folder-path: "./../static/";
$diagonal-gradient-bg-red: linear-gradient(125deg, $red-300 0%, $red-500 100%);
$diagonal-gradient-bg-black: linear-gradient(125deg, $black-300 0%, $black-500 100%);
$diagonal-gradient-bg-grey: linear-gradient(125deg, $grey-100 0%, $grey-500 100%);
$diagonal-gradient-bg-blue: linear-gradient(125deg, $brand-blue-300 0%, $brand-blue-800 100%);
$diagonal-gradient-bg-blue-dark: linear-gradient(125deg, $brand-blue-400 0%, $brand-blue-900 100%);
