@charset "utf-8";

@import "./styles/vars";
@import "./styles/fonts";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html, body{
  background-color: $bg-color-base;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body{
  color: $text-color;
  line-height: $line-height-base;
}

/* Unify the margin and padding */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul, ol {
  list-style: none;
}

::selection {
  background: $color-primary;
  color: #fff;
}
